---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Prueba del calendario">
    <div class="calendly-inline-widget" data-url="https://calendly.com/badillo-delgado-jorge/30min" style="min-width:320px;height:700px;"></div>
    <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
</Layout>
